{% extends "base.html" %}
{% load cache %}

{% block title %}
    {{ object.title }}
{% endblock %}

{% block content %}
<style>
    #jaas-container { height: 100%; }
</style>
    <h1>
        {{ module.title }}
    </h1>
    <div>
    <div class="contents">
        <h3>Modules</h3>
        <ul id="modules">
        {% for m in object.modules.all %}
            <li data-id="{{ m.id }}" {% if m == module %}class="selected"{% endif %}>
                <a href="{% url "student_course_detail_module" object.id m.id %}">
                    <span>
                        Module <span class="order">{{ m.order|add:1 }}</span>
                    </span>
                    <br>
                    {{ m.title }}
                </a>
            </li>
        {% empty %}
            <li>No modules yet.</li>
        {% endfor %}
        </ul>
    </div>
    <div class="module">
        {% cache 600 module_contents module %}
            {% for content in module.contents.all %}
                {% with item=content.item %}
                    <h2>{{ item.title }}</h2>
                    {{ item.render }}
                {% endwith %}
            {% endfor %}
        {% endcache %}
    </div>
    </div> 
    <p>In case of any doubts, feel free to join the meet. One of our instructors will clarify your doubts.</p>
    <button onclick="myfunction()">Meet</button>
    <div id="jaas-container" ></div>

    {% block script %}
    <script src='https://8x8.vc/vpaas-magic-cookie-d735541f0b964cf18fd610451f86f73c/external_api.js' async></script>
      <script type="text/javascript">
        function myfunction()
        {
          const api = new JitsiMeetExternalAPI("8x8.vc", {
            roomName: "vpaas-magic-cookie-d735541f0b964cf18fd610451f86f73c/SampleAppEvolutionaryPositionsRaiseRelatively",
            parentNode: document.querySelector('#jaas-container')
          });
        }
      </script>
    {% endblock%}
{% endblock %}
